@import "variables";
@import "mixins";


.btn {
  border: none;
  background: none;
  border-radius: 22px;
  font-size: $h3;
  text-transform: uppercase;
  font-weight: $bold;


  &--fill {
    padding: 10px 20px;
    color: white;
    background: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));

    &:hover {
      opacity: 0.7;
    }
  }



  &--ghost {
    position: relative;
    color: $purple;
    background: white;
    padding: 7px 17px;

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
      border-radius: 22px;
      z-index: -1;
    }

    &:hover {
      &:before{
        opacity: 0.7;
      }
    }
  }
}

.login-btn {
  font-size: 30px;
  color: $purple;

  @include desktop {
    display: none;
  }
}


.burger {
  font-size: 30px;
  color: $purple;
  padding: 0;
  background: transparent;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}
