@import "variables";
@import "mixins";


.btn {
  border: none;
  background: none;
  border-radius: 22px;
  font-size: $h3;
  text-transform: uppercase;
  font-weight: $bold;
  color: $purple;
  cursor: pointer;

  &--fill {
    padding: 10px 20px;
    color: white;
    background: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));

    &:hover {
      opacity: 0.7;
    }
  }


  &--ghost {
    position: relative;
    background: white;
    padding: 7px 17px;
    z-index: 100;

    &-bg {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      background: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
      border-radius: 22px;

      &:hover {
        background: linear-gradient(rgba(188, 156, 255, 0.7), rgba(139, 164, 249, 0.7));
      }
    }
  }
}

.login-btn {
  font-size: 30px;
  color: $purple;

  @include desktop {
    display: none;
  }
}


.burger {
  font-size: 30px;
  color: $purple;
  padding: 0;
  background: transparent;

  @include tablet {
    display: none;
  }
}


.arrow__btn {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 15px;
}

.action__btn {

  &:hover {
    color: $dark50;
  }
}


.remove__btn {
  display: none;
}

.apply__btn {
  text-align: right;
  flex-grow: 1;
}

.registration__btn {
  &:after {
    z-index: -1;
  }
}