@import "variables";
@import "mixins";


.chart {
  margin: 0;
  display: flex;
  align-items: center;
}
.chart__content {
  width: 130px;
  margin-right: 5px;

  @include tablet {
    width: 159px;
    margin-right: 20px;
  }

}

.chart__text {
  font-family: Montserrat,"sans-serif";
  font-weight: $bold;
  fill: $purple;
  text-anchor: middle;

  &--title{
    font-size: 0.4em;
  }

  &--subtitle {
    font-size: 0.225em;
    text-transform: uppercase;
  }
}

.chart__legend-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $h3;

  @include tablet {
    font-size: $text;
  }
}

.chart__legend-item {
  &:not(:last-child){
    margin-bottom: 5px;

    @include tablet {
      margin-bottom: 14px;
    }

  }
}

.chart__legend-color {
  margin-right: 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;

}

