@import "variables";
@import "mixins";


.form {
  background: white;
  padding: 30px;
  max-width: 380px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__title {
  font-size: $h1;
  font-weight: $bold;
}

.form__btn {
  position: relative;
  width: 100%;
}


.input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid $dark25;
  border-radius: 4px;
  outline: none;
  margin-top: 5px;

  &::placeholder {
    color: $dark25;
  }

  &:focus {
    border:1px solid $dark75;
  }

  &__label {
    position: relative;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: $h3;
  }
}

.date-picker__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @include tablet {
    gap: 20px;
  }
}


.date-picker {
  width: 150px;

  //&::placeholder {
  //  color: $dark25;
  //  text-transform: uppercase;
  //}

  &::-webkit-datetime-edit-month-field {
    color: $dark25;
    text-transform: uppercase;
    &:focus {
      background: none;
    }
  }
  &::-webkit-datetime-edit-day-field {
    color: $dark25;
    text-transform: uppercase;
    &:focus {
      background: none;
    }
  }
  &::-webkit-datetime-edit-year-field {
    color: $dark25;
    text-transform: uppercase;
    &:focus {
      background: none;
    }
  }

  &::-webkit-calendar-picker-indicator {
    background: url(./icons/expand_more.png) no-repeat center;
    cursor: pointer;
  }
}





