@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-size: $text;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  line-height: 1;
}

main {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  //max-width: 320px;
  max-width: 1200px;
  padding: 0 20px;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
}

.logo {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}