@import "variables";
@import "mixins";

.header {
  width: 100%;
}

.header__container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.header__menu {
  display: none;
  padding: 0;

  @include tablet {
    display: flex;
  }

  @include desktop {
    margin-left: auto;
  }

  & .menu__item:not(:last-child){
    margin-right: 20px;
  }
}

.header__buttons {
  display: none;

  @include desktop {
    display: block;
  }
}

.header__btn {
  margin-left: 20px;
}