@import "variables";
@import "mixins";

.header {
  width: 100%;
}

.header__container {
  padding: 15px;
}

.header__menu {
  position: fixed;
  top: 72px;
  right: 100%;
  width: 300px;
  height: 100%;
  padding: 20px;
  background: white;
  z-index: 100;
  transition: transform .4s;

  @include tablet {
    display: flex;
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    padding: 0;
  }

  @include desktop {
    margin-left: auto;
  }

  & .menu__item:not(:last-child){
    margin-right: 20px;
  }

  &--open {
    transform: translateX(100%);
    overflow: scroll;
  }
}

.header__buttons {
  display: none;

  @include desktop {
    display: block;
  }
}

.header__btn {
  margin-left: 20px;
}

.header__overlay {
  display: none;

  &--visible {
    position: fixed;
    top: 73px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: $dark25;
    z-index: 50;
  }
}