@import "variables";
@import "mixins";


.menu__item {
  display: block;
  cursor: pointer;
  padding: 10px 0;
  list-style: none;

  &--active .menu__link {
    @include menu-bold
  }

  &--dropdown{
    position: relative;

    &:hover .menu__dropdown {
      display: block;
    }
  }
}


.link__item {
  padding-left: 5px;
}


.menu__dropdown {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  color: $dark50;


  &-item {
    padding: 10px 0;
    color: $dark50;


    &:hover {
      color: $dark100;
    }
  }
}

.menu__link {
  color: $dark50;

  &:hover {
    color: $dark100;
  }
}

