@import "variables";
@import "mixins";


.menu__item {
  display: block;
  margin-bottom: 20px;
  list-style: none;
  font-size: $h1;
  font-weight: $bold;
  cursor: pointer;

  &--active .menu__link {
    @include tablet {
      @include menu-bold
    }
  }

  &--dropdown{
    position: relative;

    &:hover .menu__dropdown {
      display: block;
    }
  }

  @include tablet {
    padding: 10px 0;
    margin: 0;
    font-size: $text;
    font-weight: normal;
  }
}


.link__item {
  padding-left: 5px;
}


.menu__dropdown {
  padding: 0;
  list-style: none;

  &-item {
    padding: 20px 0 0;

    @include tablet {
      padding: 10px 0;
    }
  }

  @include tablet {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    border-radius: 4px;
    background: white;
    z-index: 10;
  }

}

.menu__dropdown-link {
  font-size: $h2;
  color: $dark50;

  &:hover {
    color: $dark100;
  }

  @include tablet {
    font-size: $text;
  }
}

.menu__link {
  color: $dark100;

  @include tablet {
    color: $dark50;

    &:hover {
      color: $dark100;
    }
  }

}

