@import "variables";
@import "mixins";

.range__controls{
  margin: 20px 0 10px;
}

.noUi-target {
  height: 6px;
  border: 1px solid $dark25;
  border-radius: 3px;
  background: white;
}

.noUi-connects  {
  overflow: visible;
  height: 6px;
  width: 100%;
  border-radius: 3px;
}


.noUi-connect {
  border-radius: 3px;
  top: -1px;
  background: $secondary-gradient;
}

.noUi-origin {
  top: 50%;
}


.noUi-handle {
  border-radius: 50%;
  border: 2px solid white;
  background: $secondary-gradient;
  box-shadow: none;
  cursor: pointer;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  right: -10px;
}

.range__text {
  text-align: center;
}